html {
    margin: 0px;
    background-color: #CCC;
}

.header {
	text-align: center;
}

.canvas {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
}

#categoria {
	width: 100%;

}

.black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	z-index:1002;
	overflow: auto;
	display:inline;
}

.botaoNormal{
	height: 34px;
    width: 91px;
    color: #FFF;
    background-color: #3071A9;
    border-color: #285E8E;
}

.botaoNormal.hover{
	background-color: #3d7a80;
	opacity: 0.8;
	-moz-opacity: 0.8;
	background: linear-gradient(top, #3d7a80, #2f5f63);
}

.formHorizontal {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.formHorizontal:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.row{
	display:table-cell;
	overflow:hidden;
    position: block;
    z-index: -1;
    padding-top: 3px;

}



#popup-div{
	text-align: center;
}

.youtube {
	text-align: center;
}

.result_row p {
	 font-weight: bold;
}

.table-normal {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-collapse: collapse;
}

.table-normal thead tr th {
	padding: 8px;
	border: 1px solid #DDD;
	text-align: left;
}

.table-normal tbody tr td {
	padding: 8px;
	border: 1px solid #DDD;
}
